@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";
@import "nativewind/theme";

@source "../app/**/*.tsx";
@source "../components/**/*.tsx";

@layer base {
  :root {
    --background: 207 89% 86%;
    --foreground: 0 0% 0%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;
    --primary: 207 90% 51%;
    --primary-foreground: 0 0% 100%;
    --secondary: 207 89% 86%;
    --secondary-foreground: 214 85% 34%;
    --muted: 207 89% 86%;
    --muted-foreground: 207 19% 54%;
    --accent: 207 89% 86%;
    --accent-foreground: 214 85% 34%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 210 79% 46%;
    --input: 210 79% 46%;
    --ring: 207 90% 51%;
    --radius: 8;
  }

  .dark:root {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    --card: 0 0% 0%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 0%;
    --popover-foreground: 0 0% 100%;
    --primary: 207 90% 51%;
    --primary-foreground: 0 0% 100%;
    --secondary: 214 85% 34%;
    --secondary-foreground: 0 0% 100%;
    --muted: 214 85% 34%;
    --muted-foreground: 207 89% 86%;
    --accent: 214 85% 34%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 210 79% 46%;
    --input: 210 79% 46%;
    --ring: 207 89% 86%;
  }
}
