@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";
@import "nativewind/theme";

@source "../app/**/*.tsx";
@source "../components/**/*.tsx";

@theme inline {
  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));
  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));
  --color-warning: hsl(var(--warning));
  --color-warning-foreground: hsl(var(--warning-foreground));
  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));
  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));
  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));
  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));
}

@layer base {
  :root {
    --background: 207 89% 86%;
    --foreground: 0 0% 0%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;
    --primary: 207 90% 51%;
    --primary-foreground: 0 0% 100%;
    --secondary: 207 89% 86%;
    --secondary-foreground: 214 85% 34%;
    --muted: 207 89% 86%;
    --muted-foreground: 207 19% 54%;
    --accent: 207 89% 86%;
    --accent-foreground: 214 85% 34%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 210 79% 46%;
    --input: 210 79% 46%;
    --ring: 207 90% 51%;
    --radius: 8;
  }

  .dark:root {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    --card: 0 0% 0%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 0%;
    --popover-foreground: 0 0% 100%;
    --primary: 207 90% 51%;
    --primary-foreground: 0 0% 100%;
    --secondary: 214 85% 34%;
    --secondary-foreground: 0 0% 100%;
    --muted: 214 85% 34%;
    --muted-foreground: 207 89% 86%;
    --accent: 214 85% 34%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 210 79% 46%;
    --input: 210 79% 46%;
    --ring: 207 89% 86%;
  }
}
